<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3s.org/2001/XMLSchema-instance" 
xmlns="http://xmlns.jcp.org/xml/ns/javaee"
 xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee 
 http://xmlns.jcp.org/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Airport</display-name>
  <welcome-file-list>
 
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
   <!-- project start servlet -->
  <servlet>
  	<servlet-name>ProjectStartServlet</servlet-name>
  	<servlet-class>edu.hzcc.webdemo.sys.ProjectStartServlet</servlet-class>
  	<load-on-startup>2</load-on-startup>
  </servlet>
  
  <!-- controller servlet define -->
  <servlet>
  	<servlet-name>ControllerServlet</servlet-name>
  	<servlet-class>edu.hzcc.webdemo.util.ControllerServlet</servlet-class>
  	<init-param>
  		<param-name>controllerPackage</param-name>
  		<param-value>edu.hzcc.webdemo.controller</param-value>
  	</init-param>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ControllerServlet</servlet-name>
  	<url-pattern>/cs</url-pattern>
  </servlet-mapping>
</web-app>